[submodule "plugged/ale"]
	path = plugged/ale
	url = https://github.com/vim/ale.git
[submodule "plugged/deoplete.nvim"]
	path = plugged/deoplete.nvim
	url = https://github.com/vim/deoplete.nvim.git
[submodule "plugged/nvim-lspconfig"]
	path = plugged/nvim-lspconfig
	url = https://github.com/vim/nvim-lspconfig.git
[submodule "plugged/vim-lsp-settings"]
	path = plugged/vim-lsp-settings
	url = https://github.com/vim/vim-lsp-settings
[submodule "plugged/vim-python-pep8-indent"]
	path = plugged/vim-python-pep8-indent
	url = https://github.com/vim/vim-python-pep8-indent.git
